VITE_SUPABASE_URL=https://bsiqyssjffsgulpkdsfc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzaXF5c3NqZmZzZ3VscGtkc2ZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMzIwMjgsImV4cCI6MjEwMjkwODAyOH0.kXSczds7GqfcZCfhkq_a-ER8sMmC_i3lkPJp97AXT0Y
VITE_SIGNALING_URL=ws://localhost:3001/ws
VITE_APP_NAME=Akayroom
